[user]
    name = Seung-won Park
    email = yyyyy@snu.ac.kr
[core]
    editor = vim
    excludesfile = ~/.gitexclude
[init]
    defaultBranch = main
[log]
    date = iso8601
[color]
    ui = auto
[branch]
    # Make all new branches to automatically use rebase rather than merge, on pull
    autosetuprebase = always
[credential]
    helper = cache --timeout=10800
[credential "https://github.com"]
    username = seungwonpark

